@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.nav-con{
  height: 4rem;
  background-color: brown;
  display: flex;
  align-items: center;
}

h1{
  padding-left: 1rem;
  
}

h4{
   margin-right: 520px;
   font-size: 1.3rem;
}

ul{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 800px;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

li {

  padding: 20px;
}

.img-con{
  width: 100%;
}

.pizza{
  width: 100%;
  height: 80vh;
}

.about-head{
 text-align: center;
}

.img-text{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 1rem;
}

.About-text {
  line-height: 2.5rem;
}

.about-img{
  width: 40%;
}

.type-title{
  font-size: 1.5rem;
}

.about-con{
  width: 55%
}

.types-img{
  height: 50vh;
  width: 20%;
}

.group-item {
display: flex;
align-items: center;
justify-content: center;
gap: 2rem;
}

.type-text {
  text-align: center;
}

.footer-name {
  height: 50px;
  background-color: brown;
  text-align: center;
}